
<section class="bg-dark bg-center-top bg-no-repeat position-relative pt-5 pb-4 pb-md-5" >
  <div class="img-cover bg-auto d-none d-md-block"
  [ngStyle]="homeFrontGraphic"
  ></div>
  <div class="flex-container bg-content py-5 my-md-5 text-center text-md-left">
      <div class="pb-md-5 mt-5 mb-md-5">
          <div style="    margin-left: calc(10% - 10px);" class="d-inline-block h6 text-lg bg-white px-3 py-2 mt-md-4">Currently v1.1</div>
          <h1 style="  margin-left: calc(10% - 10px);" class="display-3 text-white">
            <span *ngFor="let content of homeContent">

              <p class="d-block break-word" [ngClass]="content.cssClass">
                {{content.contentText}}
              </p>
            </span>

          </h1>
      </div>
  </div>
</section>
<div class="bg-dark" style="height: 250px;"></div>
<section class="flex-container" style="margin-top: -250px;padding:5%;">
    <div class="bg-white box-shadow py-5 px-4 px-sm-5">
        <app-provider-types></app-provider-types>
    </div>
</section>
<section class="flex-container-fluid py-5" style="padding:5%;">
    <h2 class="h3 block-title text-center pt-4"><span class="font-weight-normal">Explore</span> Datumation Homepages<small>Explore the collection of carefully built landing pages</small></h2>
    <div class="row pt-4">
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-digital-agency.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/01.jpg" alt="Digital Agency">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Digital Agency</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-freelancer-portfolio.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/02.jpg" alt="Freelancer's Portfolio">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Freelancer's Portfolio</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-photographer-portfolio.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/03.jpg" alt="Photographer's Portfolio">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Photographer's Portfolio</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-shop-v1.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/04.jpg" alt="Online Shop v.1">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Online Shop v.1</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-shop-v2.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/05.jpg" alt="Online Shop v.2">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Online Shop v.2</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-corporate-blog.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/06.jpg" alt="Corporate Blog">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Corporate Blog</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-personal-blog.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/07.jpg" alt="Personal Blog">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Personal Blog</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-mobile-app-showcase.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/08.jpg" alt="Mobile App Showcase">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Mobile App Showcase</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-web-app-showcase.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/09.jpg" alt="Web App Showcase (SAAS)">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Web App Showcase (SAAS)</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-conference-landing.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/10.jpg" alt="Conference Landing">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Conference Landing</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-marketing-seo.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/11.jpg" alt="Digital Marketing &amp; SEO">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Digital Marketing &amp; SEO</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
            <a class="d-block text-decoration-none" href="home-capital-investments.html">
                <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/12.jpg" alt="Venture Capital Investments">
                    <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Venture Capital Investments</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <p class="pt-3 mb-0 text-lg text-muted font-weight-medium text-center">... More pages coming</p>
</section>
<section style="background: url('/assets/pattern.png');background-size: contain;" class="flex-container mt-2 pt-4 pb-5" style="padding:5%;">
    <h2 class="h3 block-title text-center"><span class="font-weight-normal">See Also</span> Other Pages<small>Explore the collection of carefully built landing pages</small></h2>
    <div class="row pt-4">
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="portfolio-style1-boxed.html" style="background-image: url(/assets/portfolio.png);">
                <h3 class="h5">Portfolio</h3>
                <p class="text-muted pb-2">Includes 2 styles and 3 layout options + 4 types of single project templates.</p>
                <div class="btn btn-warning btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="blog-grid-rs.html" style="background-image: url(/assets/blog.png);">
                <h3 class="h5">Blog</h3>
                <p class="text-muted pb-2">Includes 3 blog layout options and 6 single post formats.</p>
                <div class="btn btn-info btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="shop-boxed-ls.html" style="background-image: url(/assets/shop.png);">
                <h3 class="h5">E-commerce</h3>
                <p class="text-muted pb-2">Includes 8 shop catalog layout options and 8 e-commerce pages.</p>
                <div class="btn btn-success btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="account-orders.html" style="background-image: url(/assets/account.png);">
                <h3 class="h5">User Account</h3>
                <p class="text-muted pb-2">Includes default user dashboard pages usually found on e-commerce website.</p>
                <div class="btn btn-accent btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="about-us-v1.html" style="background-image: url(/assets/pages.png);">
                <h3 class="h5">Pages</h3>
                <p class="text-muted pb-2">Includes the collection of website secondary and specialty pages.</p>
                <div class="btn btn-primary btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="docs/dev-setup.html" style="background-image: url(/assets/docs.png);">
                <h3 class="h5">Online Docs</h3>
                <p class="text-muted pb-2">Includes the collection of website secondary and specialty pages.</p>
                <div class="btn btn-danger btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div>
            </a>
        </div>
    </div>
</section>
<section class="flex-container pt-2 pb-5 mb-3" style="padding:5%;">
    <h2 class="h3 block-title text-center"><span class="font-weight-normal">And some</span> Cool Features</h2>
    <div class="row pt-4">
        <div class="col-md-6">
            <dl class="dl-with-icon">
                <dt><i class="fe-icon-check-circle text-success"></i>Kick-start your development</dt>
                <dd>Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Easy To Customize With Sass</dt>
                <dd>Datumation is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Pug - Node Templating Engine</dt>
                <dd>No need to write huge amount of HTML, if you don’t want to. Pug provides features not available in plain HTML like variables, includes, mixins, etc.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Built With Bootstrap 4</dt>
                <dd>Datumation is the ultimate website front-end solution based on Bootstrap 4 - the world's most popular responsive, mobile-first front-end component library.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>45+ Flexible Components</dt>
                <dd>Besides styling all default Bootstrap 4 components Datumation introduces lots of new flexible, customizable and reusable elements to use across the website.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
                <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. Datumation is 100% responsive and optimized for small touch screens.</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-with-icon">
                <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
                <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. Datumation is 100% responsive and optimized for touch screens.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Google Fonts</dt>
                <dd>Datumation uses Google fonts which are free, fast to load and of very high quality. Currently Google fonts library includes 870+ font families to choose from.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Touch-enabled Sliders</dt>
                <dd>In the era of touch screens it's important to ensure great user experience on handheld devices, especially when it comes to such importnat interface component as slider.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Vector Based HD Ready Icons</dt>
                <dd>Datumation uses font-based icon packs to ensure that infographics and interface icons look sharp on any device with any screen resolution and pixel density.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>Customizable Google Maps</dt>
                <dd>Thanks to Gmap3 plugin and Snazzy Maps collection of custom map styles you can create unique map design that fits perfectly overall look of your website.</dd>
                <dt><i class="fe-icon-check-circle text-success"></i>W3C Valid HTML Code</dt>
                <dd>All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but Datumation is innovative at its core.</dd>
            </dl>
        </div>
    </div>
</section>
<footer class="bg-dark pt-5" style="padding:5%;">
    <div class="flex-container pt-3 text-center">
        <h3 class="font-weight-normal text-white">Still not convinced?</h3>
        <h2 class="h3 text-white pb-4">Add premium support and lifetime updates to this.</h2><a class="btn btn-gradient btn-lg" href="https://themes.getbootstrap.com/product/Datumation-multipurpose-template-ui-kit/" target="_blank"><i class="fe-icon-shopping-cart"></i>&nbsp;Buy Datumation</a>
        <div class="py-5 mt-3">
            <hr class="hr-light">
        </div>
        <h6 class="text-white text-center pt-4">Subscribe to Newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
                    <div class="input-group">
                        <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Email address">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                        </div>
                    </div><small class="form-text text-white opacity-50 pt-1 text-center">Enter email to receive a newsletter about updates and new products.</small>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                    </div>
                </form>
            </div>
        </div>
        <div class="pt-4">
            <hr class="hr-light">
        </div>
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <div class="order-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a></div>
            <p class="m-0 text-sm text-white order-1"><span class="opacity-60">
              © {{currentYear}} All rights reserved. Made with</span>
              <i class="d-inline-block align-middle fe-icon-heart text-danger"></i>
              <a href="datumation.com"
              class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank">by Datumation</a></p>
        </div>
    </div>
</footer>
