<body>

  <app-nav-menu></app-nav-menu>
  <div>
      <div>
        <div class="col-sm-2" style="position: relative;/* width: 0%; *//* overflow-y: scroll; *//* height: 400px; *//* width: 230px; *//* display: table-column-group; */">
          <ul class="nav flex-column" style="/* left: 0px; *//* top: 14%; *//* padding-left: 8px; */position: absolute;"><li><a class="nav-link" style="
             font-weight: bold;
             font-size: large;
             border-bottom: solid 1px #e7e7e7;
             ">Our Datasets</a></li>
           <li class="nav-item"><a class="nav-link">Physicians</a></li>
         <li class="nav-item"><a class="nav-link">Doctor Specialities</a></li>
         <li class="nav-item"><a class="nav-link">Dentists</a></li>
         <li class="nav-item"><a class="nav-link">Therapists</a></li>
         <li class="nav-item"><a class="nav-link">Nurses</a></li>
         <li class="nav-item"><a class="nav-link">Chiropractors</a></li>
         <li class="nav-item"><a class="nav-link">Pharmacists</a></li>
         <li class="nav-item"><a class="nav-link">Audiologists</a></li>
         <li class="nav-item"><a class="nav-link">Dietitians / Nutritionists</a></li>
         <li class="nav-item"><a class="nav-link">Complete</a></li>


         <li class="nav-item"><a class="nav-link" style="
             font-weight: bold;
             font-size: large;
             border-bottom: solid 1px #e7e7e7;
         ">STATES</a></li>
         <li class="nav-item"><a class="nav-link">Alabama</a></li>
         <li class="nav-item"><a class="nav-link">Alaska</a></li>
         <li class="nav-item"><a class="nav-link">Arkansas</a></li>
         <li class="nav-item"><a class="nav-link">Arizona</a></li>
         <li class="nav-item"><a class="nav-link">California</a></li>
         <li class="nav-item"><a class="nav-link">Colorado</a></li>
         <li class="nav-item"><a class="nav-link">Connecticut</a></li>
         <li class="nav-item"><a class="nav-link">Delaware</a></li>
         <li class="nav-item"><a class="nav-link">Florida</a></li>
         <li class="nav-item"><a class="nav-link">Georgia</a></li>
         <li class="nav-item"><a class="nav-link">Hawaii</a></li>
         <li class="nav-item"><a class="nav-link">Idaho</a></li>
         <li class="nav-item"><a class="nav-link">Illinois</a></li>
         <li class="nav-item"><a class="nav-link">Indiana</a></li>
         <li class="nav-item"><a class="nav-link">Iowa</a></li>
         <li class="nav-item"><a class="nav-link">Kansas</a></li>
         <li class="nav-item"><a class="nav-link">Kentucky</a></li>
         <li class="nav-item"><a class="nav-link">Louisiana</a></li>
         <li class="nav-item"><a class="nav-link">Maine</a></li>
         <li class="nav-item"><a class="nav-link">Maryland</a></li>
         <li class="nav-item"><a class="nav-link">Massachusetts</a></li>
         <li class="nav-item"><a class="nav-link">Michigan</a></li>
         <li class="nav-item"><a class="nav-link">Minnesota</a></li>
         <li class="nav-item"><a class="nav-link">Mississippi</a></li>
         <li class="nav-item"><a class="nav-link">Missouri</a></li>
         <li class="nav-item"><a class="nav-link">Montana</a></li>
         <li class="nav-item"><a class="nav-link">Nebraska</a></li>
         <li class="nav-item"><a class="nav-link">Nevada</a></li>
         <li class="nav-item"><a class="nav-link">New Hampshire</a></li>
         <li class="nav-item"><a class="nav-link">New Jersey</a></li>
         <li class="nav-item"><a class="nav-link">New Mexico</a></li>
         <li class="nav-item"><a class="nav-link">New York</a></li>
         <li class="nav-item"><a class="nav-link">North Carolina</a></li>
         <li class="nav-item"><a class="nav-link">North Dakota</a></li>
         <li class="nav-item"><a class="nav-link">Ohio</a></li>
         <li class="nav-item"><a class="nav-link">Oklahoma</a></li>
         <li class="nav-item"><a class="nav-link">Oregon</a></li>
         <li class="nav-item"><a class="nav-link">Pennsylvania</a></li>
         <li class="nav-item"><a class="nav-link">Rhode Island</a></li>
         <li class="nav-item"><a class="nav-link">South Carolina</a></li>
         <li class="nav-item"><a class="nav-link">South Dakota</a></li>
         <li class="nav-item"><a class="nav-link">Tennessee</a></li>
         <li class="nav-item"><a class="nav-link">Texas</a></li>
         <li class="nav-item"><a class="nav-link">Utah</a></li>
         <li class="nav-item"><a class="nav-link">Vermont</a></li>
         <li class="nav-item"><a class="nav-link">Virginia</a></li>
         <li class="nav-item"><a class="nav-link">Washington</a></li>
         <li class="nav-item"><a class="nav-link">West Virginia</a></li>
         <li class="nav-item"><a class="nav-link">Wisconsin</a></li>
         <li class="nav-item"><a class="nav-link">Wyoming</a></li>



         </ul>
         </div>
        </div>
      </div>
  <div class="flex-container">

 <!--  -->
    <router-outlet></router-outlet>
  </div>
</body>
