<header
  style="border-bottom: solid 1px #000000;
  box-shadow: 1px 1px 7px 0px #000000;"
>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="padding-left:2%;"
  >
    <a class="navbar-brand mr-1" [routerLink]="['/']">
      <img src="/assets/datumlogo.png"/>
      <button
        class="navbar-toggler"
        (click)="toggle()"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span></button
    ></a>
    <div *ngIf="isExpanded">
      <div style="width: 100vh">
        <ul
          _ngcontent-c1=""
          class="nav-pills nav flex-column  d-lg-block"
          id=""
        >
          <div style="width:55%;">
            <li
              style="    border-bottom: solid 1px #e6e6e6;"
              class="nav-item"
              [routerLinkActive]="['link-active']"
            >
              <a
                style="margin-left: 20%;"
                _ngcontent-c1=""
                class="nav-link text-dark"
                [routerLink]="['/']"
                >Home</a
              >
            </li>
          </div>
          <div style="width:55%;">
            <li
              style="    border-bottom: solid 1px #e6e6e6;"
              class="nav-item"
              [routerLinkActive]="['link-active']"
            >
              <a
                style="margin-left: 20%;"
                _ngcontent-c1=""
                class="nav-link text-dark"
                [routerLink]="['/counter']"
                >Counter</a
              >
            </li>
          </div>
          <div style="width:55%;">
            <li
              style="    border-bottom: solid 1px #e6e6e6;"
              class="nav-item"
              [routerLinkActive]="['link-active']"
            >
              <a
                style="margin-left: 20%;"
                _ngcontent-c1=""
                class="nav-link text-dark"
                [routerLink]="['/provider-types']"
                >State Data</a
              >
            </li>
          </div>
          <div style="width:55%;">
            <li
              style="    border-bottom: solid 1px #e6e6e6;"
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                style="margin-left: 20%;"
                _ngcontent-c1=""
                class="nav-link text-dark"
                [routerLink]="['/']"
              >
                <button
                  (click)="auth.login()"
                  *ngIf="!auth.isAuthenticated()"
                  class="btn btn-outline-secondary"
                >
                  Login
                </button>
                <button
                  (click)="auth.logout()"
                  *ngIf="auth.isAuthenticated()"
                  class="btn btn-outline-secondary"
                >
                  Logout
                </button>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div
      *ngIf="!isExpanded"
      class="collapse navbar-collapse"
      id="navbarTogglerDemo01"
    >
      <div class="d-table-cell w-100 align-middle pl-md-3">
        <div class="navbar justify-content-end justify-content-lg-between">
          <!-- Search-->
          <form class="search-box" method="get">
            <div class="easy-autocomplete" style="width: 1905px;">
              <input
                type="text"
                id="site-search"
                placeholder="Type A or C to see suggestions"
                autocomplete="off"
              />
              <div
                class="easy-autocomplete-container"
                id="eac-container-site-search"
              >
                <ul></ul>
              </div>
            </div>
            <span class="search-close"><i class="fe-icon-x"></i></span>
          </form>
          <!-- Main Menu-->
          <ul id="" class="navbar-nav d-none d-lg-block">
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <button
                (click)="auth.login()"
                *ngIf="!auth.isAuthenticated()"
                class="btn btn-outline-secondary"
              >
                Login
              </button>
              <button
                (click)="auth.logout()"
                *ngIf="auth.isAuthenticated()"
                class="btn btn-outline-secondary"
              >
                Logout
              </button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/counter']"
                >Counter</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/provider-types']"
                >State Files</a
              >
            </li>
            <!-- Home-->
            <li
              class="nav-item mega-dropdown-toggle active"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <div *ngIf="auth.isAuthenticated()">
                <a routerLink="/profile" class="btn btn-outline-secondary">
                  Profile
                </a>

                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </div>
              <div *ngIf="auth.profile">
                <span> {{ auth.profile }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
