<h2 class="h3 block-title text-center pt-4"><span class="font-weight-normal">Provider</span> State Files<small>Explore the collection of provider files for each US State</small></h2>

<p *ngIf="!providers"><em>Loading...</em></p>

<div style="margin-left:calc(10% - 1px);" class="flex-container">
<div class="row"  *ngIf="providers">
  <div style="" class="col-lg-4" *ngFor="let provider of providers" >

    <div class="card text-center" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-header">
          <h5 class="card-title">
              <button style="color: white;box-shadow: 0px 0px 9px 0px" class="btn customBtnOutlint btn-outline-secondary btn-lg btn-block"
            >{{provider.stateName}}</button>
            </h5>
        </div>
      <div class="card-body">
        <p class="card-text"><i style="font-size: calc(10vh - 10px) !important;" class="fa fa-file-excel-o" aria-hidden="true"></i></p>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
              <h5 class="card-title">
                  <button (click)="getBySpecialtyType(provider.specialtyType)" class="btn customBtnOutlint btn-outline-secondary btn-lg btn-block" >
                    {{provider.specialtyType}}</button>

                </h5>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn customBtnOutlint btn-outline-secondary btn-lg btn-block">
                Records <span class="badge badgeCustom badge-light">{{provider.recordCount}}</span>

        </button>
        </li>
        <li class="list-group-item"></li>
      </ul>
      <div class="card-footer text-muted">
          <button type="button" (click)="goToDetail(provider)" class="btn  btn-outline-secondary btn-lg btn-block">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            $499.99
          </button>
        </div>
    </div>
  </div>
</div>
</div>
